
/* ======= Toast message ======== */
#toast {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 9999;
}

.toast {
    font-family: "Helvetica Neue";
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #125a62;
    border-radius: 4px;
    padding: 15px 0;
    min-width: 300px;
    max-width: 450px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear 0.3s;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.toast--success {
    border-color: #47d864;    
}

.toast--success .toast__icon {
    color: #47d864;
}

.toast--warning {
    border-color: #ffc012;    
}

.toast--warning .toast__icon {
    color: #ffc012;
}

.toast--error {
    border-color: #ff623d;    
}

.toast--error .toast__icon {
    color: #ff623d;
}

.toast--info {
    border-color: #2f86eb;    
}

.toast--info .toast__icon {
    color: #2f86eb;
}


.toast + .toast {
    margin-top: 8px;
}

.toast__icon {
    font-size: 24px;
}

.toast__icon,
.toast__close {
    padding: 0 16px;
}

.toast__body {
    flex-grow: 1;
}

.toast__msg {
    font-size: 18px;
    color: #ccc;
    margin-top: 0;
    line-height: 1.5;
}

.toast__close {
    font-size: 20px;
    color: #ccc;
    cursor: pointer;
}

.toast__close:hover {
    opacity: 0.8;
}

/* Mobile < 740px */
@media (max-width: 46.1875em) {
    #toast {
        right: 50%;
        transform: translateX(+50%) ;
    }

    .toast {
        min-width: 350px;
        max-width: 460px;
    }

    .toast__msg {
        font-size: 18px;
    }
}